.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

 .home {
   background-color: sienna;
   display:flex;
   flex-direction: column;
 }
 .nav{
   border: 4px solid orange;
   padding:15px;
   color: white;
   display: flex;
   justify-content: center;
   
 }
 .navie{
   color: white;
   font-size:25px;
   margin: 10px;
 }
  
 .epi{
   font-size: 40px;
   color: white;
 }

  .img-div{
    display:flex;
    margin:50px;
     width:37.5%;
     border-radius: 17px;
    
  }
   .img-div img{
    border:4px solid orange;

  }
  .footer{
    color: white;
    font-size:15px;
    border: 4px solid orange;
    padding:10px;
  }

  .prepare{

    display:flex;
     width:100%;
    justify-content: center;
    align-content: center;
  }
 .p-div{
  display:flex;
  width: 80%;
  margin:20px;
  align-content: center;
  }
  .header {
    border : 3 px solid yellow;
  }

 
  
 
