.App {
  text-align: center;
}
.reg-div{

  background-color: sienna;
  display:flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.reg-form{
   /* display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center; */
  border: 4px solid orange;
  padding: 60px;
  margin: 40px;
  width:80%;
  height: 100%;

}
.reg-form input {
  margin: 20px;
  padding: 5px;
}

.login-form{
  /* display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center; */
  border: 4px solid orange;
  padding: 60px;
  margin: 40px;
  width:30%;
  height: 100%;
}
 .login-form input{
   margin: 10px;

}
.login-form h3{
  color:white;
}
 button{
  border: 4px solid orange;
  border-radius: 15px;
  background-color: peru;
  color: wheat;
  padding: 7px;
  width: 50%;
  margin: 10px;
  font-size: 20px;

}
button:hover{
  background-color: white;
  color: peru;
}
  
 .home {
   background-color: sienna;
   display:flex;
   flex-direction: column;
 }
 .nav{
   border: 4px solid orange;
   padding:15px;
   color: white;
   display: flex;
   justify-content: center;
   
 }
 .navie{
   color: white;
   font-size:25px;
   margin: 10px;
 }
 .small-nav{
   color: wheat;
 }
  
 .epi{
   font-size: 40px;
   color: white;
 }

  .img-div{
    display:flex;
    justify-content: center;
    margin:50px;
     width:100%;
     border-radius: 17px;
     align-content: center;
    
  }
   .img-div img{
    border:4px solid orange;
      
  }


.map {
  height: 500px;
  width: 800px;
  margin: 0 auto;
}
  .footer{
    color: white;
    font-size:15px;
    border: 4px solid orange;
    padding:10px;
  }

  .prepare{

    display:flex;
     width:100%;
    justify-content: center;
    align-content: center;
  }
 .p-div{
  display:flex;
  width: 80%;
  margin:20px;
  align-content: center;
  }
  .header {
    border : 3 px solid yellow;
  }

 
 
